[user]
  name = Aurelien Arino
  email = aurelien.arino@gmail.com
[gpg]
  program = gpg
[web]
  browser = brave-browser
[core]
  editor = nano -w
  excludesfile = ~/.gitignore
  ignorecase = false
[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
[credential]
  helper = osxkeychain
[alias]
  st = status
  ci = commit
  cim = commit -m
  br = branch
  co = checkout
  df = diff
  dc = diff --cached
  ds = diff --staged
  lg = log -p
  lol = log --graph --decorate --pretty=oneline --abbrev-commit
  lola = log --graph --decorate --pretty=oneline --abbrev-commit --all --date=local
[commit]
	gpgsign = true
[pull]
	rebase = false
